<!DOCTYPE html>
<html lang="en">
<head>
{{ template "header.stub.gohtml" }}

    <title>Error</title>
    <link rel="stylesheet" href="/static/css/home.css"/>

</head>

<body>

<!-- navigation -->
{{ template "navbar.stub.gohtml" }}
<div class="navbar-pad"></div>
<!-- navigation -->

<!-- main section -->
<section class="container">
    <div class="fs-1 fw-light text-center">
        <div class="position-absolute top-50 start-50 translate-middle">
            <span>{{ .ErrorCode }}</span>&nbsp;<span class="text-muted fst-italic">{{ .ErrorText }}</span>
            <br>
            <span class="fs-3 fst-italic fw-lighter text-mutex">
<!--                So sorry, but it appears that something has gone wrong.-->
{{ .ErrorTextLong }}

            </span>
            <br>
            <button onclick="history.go(-1)" type="button" class="btn btn-secondary">Please, take me back!</button>
        </div>
    </div>

</section>
<!-- main section -->

<!-- scripts -->
{{ template "scripts.stub.gohtml" }}
<!-- scripts -->

</body>

<!-- footer -->
{{ template "footer.stub.gohtml" }}
<!-- footer -->

</html>