<!DOCTYPE html>
<html lang="en">
<head>
{{ template "header.stub.gohtml" }}

    <title>Index</title>
    <link rel="stylesheet" href="/static/css/home.css"/>

</head>

<body id="home" data-spy="scroll" data-target=".navbar-collapse" data-offset="100">

<!-- navigation -->
{{ template "navbar.stub.gohtml" }}
<div class="navbar-pad"></div>
<!-- navigation -->

<!-- main section -->
<section class="container">
    <h2>Index</h2>
    <p>This is the index page</p>
</section>
<!-- main section -->

<!-- scripts -->
{{ template "scripts.stub.gohtml" }}
<!-- scripts -->

</body>

<!-- footer -->
{{ template "footer.stub.gohtml" }}
<!-- footer -->

</html>