<!-- beg: navbar -->
<div class="container">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                {{ template "brand.stub.html" }}
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link" href="https://github.com/cagnosolutions/webapp/tree/main/pkg/webapp/README.md">Documentation</a>
                    {{ if .LoggedIn }}
                    <a class="nav-link" href="/admin/">Home</a>
                    <a class="nav-link text-end" href="/admin/logout">Logout</a>
                    {{ else }}
                    <a class="nav-link text-end" href="/admin/login">Login</a>
                    {{ end }}
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- end: navbar -->
<div class="navbar-pad"></div>

{{ define "below-navbar.stub.html" }}
<div class="container">
    <div class="row">
        <div class="row row-pad"></div>
        <div class="col col-md-12">
            <div class="card bg-light mb-3">
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}